{# reactivate Event Modal; visibility is controlled by the parent dialog collection. #}
<div class="modal fade modal-resilient"
     id="reactivateEventModal"
     tabindex="-1"
     aria-labelledby="reactivateEventModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="reactivateEventModalLabel">Reactivate event?</h2>
                <button class="btn-close"
                        type="button"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>The event will return to the scheduled state.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary"
                        type="button"
                        data-bs-dismiss="modal">Cancel</button>
                <form action="{% url 'event:reactivate_event' selected_event.pk %}{% if navigation_query %}?{{ navigation_query }}{% endif %}"
                      method="post">
                    {% csrf_token %}
                    <button class="btn theme-action" type="submit">Reactivate</button>
                </form>
            </div>
        </div>
    </div>
</div>
