{# reactivate Issue Modal; visibility is controlled by the parent dialog collection. #}
<div class="modal fade modal-resilient"
     id="reactivateIssueModal"
     tabindex="-1"
     aria-labelledby="reactivateIssueModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="reactivateIssueModalLabel">Reactivate issue?</h2>
                <button class="btn-close"
                        type="button"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form action="{% url 'issue:reactivate_issue' selected_issue.pk %}{% if navigation_query %}?{{ navigation_query }}{% endif %}"
                  method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <p>The issue will return to the active state. Linked tasks will not change.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary"
                            type="button"
                            data-bs-dismiss="modal">Keep as is</button>
                    <button class="btn theme-action" type="submit">Reactivate</button>
                </div>
            </form>
        </div>
    </div>
</div>
