<div class="modal fade modal-resilient"
     id="addContactModal"
     data-modal-clear-query="form_state"
     tabindex="-1"
     aria-labelledby="addContactModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="addContactModalLabel">Add contact</h2>
                <button class="btn-close"
                        type="button"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form action="{% url 'contact:add_contact' %}{% if navigation_query %}?{{ navigation_query }}{% endif %}"
                  method="post"
                  autocomplete="off">
                <div class="modal-body">
                    {% csrf_token %}
                    {% include "contact/includes/contact_form_fields.html" with contact_form=add_contact_form only %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary"
                            type="button"
                            data-bs-dismiss="modal">Cancel</button><button class="btn theme-action px-4" type="submit">Save contact</button>
                </div>
            </form>
        </div>
    </div>
</div>
