{% for error in form.non_field_errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
<div class="mb-3">
    <label class="form-label" for="{{ form.name.id_for_label }}">Name</label>
    {{ form.name }}
    {% include "includes/field_feedback.html" with field=form.name only %}
</div>
<div class="mb-3">
    <label class="form-label" for="{{ form.description.id_for_label }}">Description</label>
    {{ form.description }}
    {% include "includes/field_feedback.html" with field=form.description only %}
</div>
<div>
    <label class="form-label" for="{{ form.address.id_for_label }}">Address</label>
    {{ form.address }}
    {% include "includes/field_feedback.html" with field=form.address only %}
</div>
