{# Add a Task linked to the selected property #}
<div class="modal fade"
     id="propertyAddTaskModal"
     data-modal-clear-query="form_state"
     tabindex="-1"
     aria-labelledby="propertyAddTaskTitle"
     aria-hidden="true">
    <div class="task-form-dialog modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="propertyAddTaskTitle">Add task</h2>
                <button class="btn-close"
                        type="button"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form action="{% url 'property:add_property_record' selected_property.pk 'task' %}"
                  method="post"
                  autocomplete="off"
                  data-task-form>
                {% csrf_token %}
                <input type="hidden"
                       name="property"
                       value="{{ selected_property.pk }}"><input type="hidden"
       name="relationship_type"
       value="property">
                <div class="modal-body">
                    {% include "task/includes/task_form_fields.html" with task_form=property_add_task_form property_context=True %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary"
                            type="button"
                            data-bs-dismiss="modal">Cancel</button><button class="btn theme-action" type="submit">Save task</button>
                </div>
            </form>
        </div>
    </div>
</div>

{# Add an Issue linked to the selected property #}
<div class="modal fade"
     id="propertyAddIssueModal"
     data-modal-clear-query="form_state"
     tabindex="-1"
     aria-labelledby="propertyAddIssueTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="propertyAddIssueTitle">Add issue</h2>
                <button class="btn-close"
                        type="button"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form action="{% url 'property:add_property_record' selected_property.pk 'issue' %}"
                  method="post"
                  autocomplete="off">
                {% csrf_token %}
                <input type="hidden" name="property" value="{{ selected_property.pk }}">
                <div class="modal-body p-4">
                    {% include "issue/includes/issue_form_fields.html" with issue_form=property_add_issue_form property_context=True %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary"
                            type="button"
                            data-bs-dismiss="modal">Cancel</button><button class="btn theme-action" type="submit">Save issue</button>
                </div>
            </form>
        </div>
    </div>
</div>

{# Add an Event linked to the selected property #}
<div class="modal fade"
     id="propertyAddEventModal"
     data-modal-clear-query="form_state"
     tabindex="-1"
     aria-labelledby="propertyAddEventTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="propertyAddEventTitle">Add event</h2>
                <button class="btn-close"
                        type="button"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form class="event-tabbed-form"
                  action="{% url 'property:add_property_record' selected_property.pk 'event' %}"
                  method="post"
                  autocomplete="off"
                  data-event-form
                  data-event-tabs>
                {% csrf_token %}
                <input type="hidden" name="property" value="{{ selected_property.pk }}">
                {% include "event/includes/tabbed_form_body.html" with id_prefix="propertyEvent" tab_label="Add event sections" event_form=property_add_event_form contacts_form=property_event_contacts_form picker_id="propertyEventContacts" property_context=True selected_property=selected_property contacts_non_field_errors=property_event_contacts_form.non_field_errors only %}
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary"
                            type="button"
                            data-bs-dismiss="modal">Cancel</button><button class="btn theme-action" type="submit">Save event</button>
                </div>
            </form>
        </div>
    </div>
</div>
