{# This collection decides which dialogs exist; each included partial owns one modal. Bootstrap controls visibility. #}
{# Create and edit dialogs #}
{% include "issue/includes/modals/add_issue_modal.html" %}

{% if selected_issue %}
    {% if edit_issue_form %}
        {% include "issue/includes/modals/edit_issue_modal.html" %}
    {% endif %}
    {% if add_task_form %}
        {% include "issue/includes/modals/add_issue_task_modal.html" %}
    {% endif %}
    {% if edit_task_form %}
        {% include "issue/includes/modals/edit_issue_task_modal.html" %}
    {% endif %}

    {# Issue state and deletion confirmations #}
    {% include "issue/includes/modals/resolve_issue_modal.html" %}
    {% include "issue/includes/modals/dismiss_issue_modal.html" %}
    {% include "issue/includes/modals/delete_issue_modal.html" %}
    {% include "issue/includes/modals/reactivate_issue_modal.html" %}
{% endif %}
{% if open_modal %}
    <span hidden data-modal-auto-open="{{ open_modal }}"></span>
{% endif %}
